<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#cotizacion {
    margin-top: 20px;
}

#cotizacion h2 {
    margin-bottom: 10px;
}

#cotizacion p {
    margin-bottom: 5px;
}

#valorFinal,
#cuotaMensual {
    font-weight: bold;
    color: #4CAF50;
}

#borrar {
    margin-left: 10px;
    background-color: #FF5733;
}

#borrar:hover {
    background-color: #FF7043;
}

</style>
<body> 
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div id="formulario">
        <form action="/cotizacion" method="post">
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required value="<%=valor%>"><br>
            <label for="">Porcentaje de Pago Inicial</label>
            <input type="number" name="pinicial" id="pinicial" required value="<%=pinicial%>"><br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select>
            <button type="submit">Calcular</button>
            <button id="borrar">Limpiar</button> 
        </form>

    </div>
    <% valorFinal = valor - (valor / pinicial); %>
    <%  cuotaMensual=valorFinal/plazos;%>
    <div id="cotizacion">
            <h2>Resultados de la Cotización</h2>
            <%  if(!isNaN(valorFinal) || !isNaN(cuotaMensual)){%>
            <p>Valor Final: <span id="valorFinal"><%=  parseFloat(valorFinal).toFixed(2) %></span></p> 
            <p>Cuota Mensual: <span id="cuotaMensual"><%= parseFloat(cuotaMensual).toFixed(2) %></span></p>
            <%}%>
    </div>
</section>
<%-include('partials/footer.ejs')%>
</body>
<script>
    const reset = document.getElementById('borrar');

    reset.addEventListener('click', function() {
        const formulario = document.getElementById('formulario2');
       
        document.getElementById('valorFinal').innerText = '';
        document.getElementById('cuotaMensual').innerText = '';
        document.getElementById('valor').value = ''; 
        document.getElementById('pinicial').value = ''; 
    });
</script>
</html>
