<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sed commodi est aperiam similique dicta iure nostrum, eos fugiat, odit accusantium. Dolorem provident maiores fugiat iusto ea dignissimos omnis molestiae?
Ducimus quasi ea, pariatur commodi ullam natus eaque sunt necessitatibus placeat autem voluptates molestias sit, atque molestiae amet ratione totam magni dolorem eligendi nobis cumque doloremque. Natus perferendis magnam explicabo?
Minus quod numquam minima corrupti amet saepe possimus debitis, iste harum est veritatis temporibus atque excepturi aspernatur! Molestiae sint corrupti hic consequatur repudiandae vitae quaerat, sequi, quam voluptatem obcaecati molestias.
</p>

<%-include('partials/footer.ejs')%>
