<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<style>body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"],
button[type="reset"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #555;
}

h3 {
    margin-bottom: 5px;
    font-size: 16px;
}
</style>
<section>
    <form  action="/tabla" method="post">
        <label for="tabla">Tabla</label>
        <input type="number" id="numero" name="numero" required value="<%=numero%>">
        <button type="submit">Enviar</button>
        <button type="reset"><a href="/tabla">Limpiar</a></button>

        <% let res=0; if(numero!=null){ for(con=1 ; con <=10; ++con){ res=con* numero; %>
            <h3>
                <%=numero%> * <%=con%> = <%=res%>
            </h3>
            <% } } %>
    </form>
</section>

<%-include('partials/footer.ejs')%>